.homeContainer {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  font-size: 1rem;
}

.homeContainer button {
  background: #42b579;
  color: white;
  border-radius: 4px;
  padding: 16px;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
